@{
  Layout = "_Layout";
}
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h3>All books:</h3>
      <hr />
      @if (Model.Count != 0)
      {
        <ul>
        @foreach (var book in Model)
        {
          <li><a href='/books/@book.GetId()'>@book.GetName(), @book.GetGenre()</a></li>
        }
        </ul>
      }
      <h4><a href="/books/new">Add new book</a></h4>
      <h4><a href="/">Return to Homepage</a></h4>
    </div>
  </div>
</div>
