<!DOCTYPE html>
<html>
  <body>

    <h1>The Library</h1>
    <hr />
    <form action="/books/search" method="get">
      <label for="bookTitle">Enter book title:</label>
      <input id="bookTitle" name="bookTitle" type="text">
      <button type="submit">Search!</button>
    </form>

    <h4><a href="/books">View Books</a></h4>
    <h4><a href="/authors">View Authors</a></h4>

  </body>
</html>
