<div class = "container">
    <div class ="jumbotron">
        <h1>Welcome to our Library!<h1>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean ipsum orci, laoreet porttitor justo quis, ullamcorper volutpat odio. Mauris sit amet faucibus nibh, laoreet imperdiet lectus. Sed ut nibh et leo vulputate condimentum. Vestibulum convallis diam elit, a pellentesque purus sagittis quis. Duis at posuere nunc. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Nam non ligula mauris.</p>
    </div>
</div>
